# ONLY ADD PRODUCTION PACKAGES HERE
# use requirements-dev.txt for dev packages
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-huggingface
langchain-text-splitters==0.2.1
langchain-openai
langsmith
opencensus-ext-azure
pydantic
streamlit
streamlit-authenticator
streamlit-feedback
streamlit-survey
streamlit-float
streamlit-tags
streamlit-card
st-annotated-text
toml
hydra-core
omegaconf
nltk
PyPDF2
ChromaDB
pymilvus
numpy
pytest
docling